html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, :after, :before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  color: #615551;
  background-image: linear-gradient(to bottom right, #fbdb89, #f48982);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: calc(100vh - 8vw);
  font-family: Nunito Sans, sans-serif;
  font-weight: 400;
  line-height: 1.6;
}

.container {
  background: #fff;
  border-radius: 9px;
  grid-template: "head head" 10rem
                 "list recipe" minmax(100rem, auto)
                 / 1fr 2fr;
  max-width: 120rem;
  min-height: 117rem;
  margin: 4vw auto;
  display: grid;
  overflow: hidden;
  box-shadow: 0 2rem 6rem .5rem #61555133;
}

.error {
  justify-content: center;
  width: 77%;
  margin: 6rem auto;
  font-size: 1.6rem;
  font-weight: 700;
  display: flex;
}

.error svg {
  fill: #f38e82;
  width: 3rem;
  height: 3rem;
}

.error p {
  margin-left: 2rem;
}

.message {
  justify-content: center;
  align-items: center;
  width: 77%;
  margin: 6rem auto;
  font-size: 1.6rem;
  font-weight: 700;
  display: flex;
}

.message svg {
  fill: #f38e82;
  width: 3rem;
  height: 3rem;
}

.message p {
  margin-left: 2rem;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.deleteBtn {
  cursor: pointer;
}

.header {
  background-color: #f9f5f3;
  grid-area: head;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.header__logo {
  height: 4.6rem;
  margin-left: 4rem;
}

.header .search {
  background-color: #fff;
  border-radius: 10rem;
  align-items: center;
  padding-left: 3rem;
  transition: all .2s;
  display: flex;
}

.header .search:focus-within {
  transform: translateY(-2px);
  box-shadow: 1rem .7rem 3rem #61555114;
}

.header .search__field {
  color: inherit;
  background: none;
  border: none;
  outline: none;
  width: 30rem;
  font-family: inherit;
  font-size: 1.7rem;
}

.header .search__field::placeholder {
  color: #d3c7c3;
}

.header .search__button {
  font-family: inherit;
  font-weight: 600;
  transition: all .2s;
}

.header .search__button:hover {
  scale: 1.05;
}

.header .search__icon {
  margin-right: 1rem;
}

.header .nav {
  align-self: stretch;
  margin-right: 2.5rem;
}

.header .nav__item {
  position: relative;
}

.header .nav__list {
  height: 100%;
  list-style-type: none;
  display: flex;
}

.header .nav__button {
  color: currentColor;
  cursor: pointer;
  background-color: #0000;
  border: none;
  align-items: center;
  height: 100%;
  padding: 0 1.5rem;
  font-family: inherit;
  font-size: 1.4rem;
  font-weight: 700;
  transition: all .2s;
  display: flex;
}

.header .nav__button:hover {
  background-color: #f2efee;
}

.header .nav__icon {
  fill: #f38e82;
  width: 2.4rem;
  height: 2.4rem;
  margin-right: .7rem;
  transform: translateY(-1px);
}

.header .nav span {
  text-transform: uppercase;
}

.bookmarks {
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  background-color: #fff;
  width: 40rem;
  padding: 1rem 0;
  transition: all .5s .2s;
  position: absolute;
  right: -2.5rem;
  box-shadow: 0 .8rem 5rem 2rem #6155511a;
}

.bookmarks .message {
  max-width: 40rem;
  margin: 0 auto;
  padding: 5rem 4rem;
  display: flex;
}

.bookmarks .message p {
  margin-left: 1.5rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.5;
}

.bookmarks .message svg {
  fill: #f38e82;
  width: 3rem;
  height: 3rem;
  transform: translateY(-.3rem);
}

.bookmarks__list {
  list-style: none;
}

.bookmarks__field {
  cursor: pointer;
  align-items: center;
  height: 100%;
  padding: 0 4rem;
  transition: all .3s;
  display: flex;
}

.bookmarks__field:hover {
  background-color: #f2efee;
}

.bookmarks:hover, .nav__button--add-bookmarks:hover + .bookmarks {
  visibility: visible;
  opacity: 1;
}

.btn {
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  background-image: linear-gradient(to bottom right, #fbdb89, #f48982);
  border: none;
  border-radius: 10rem;
  align-items: center;
  height: 100%;
  padding: 1.5rem 4rem;
  font-size: 1.5rem;
  font-weight: 700;
  display: flex;
}

.btn:first-child {
  margin-right: 1rem;
}

.btn svg {
  fill: currentColor;
  width: 2.25rem;
  height: 2.25rem;
}

.btn--small, .btn--small:visited {
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  background-image: linear-gradient(to bottom right, #fbdb89, #f48982);
  border: none;
  border-radius: 10rem;
  align-items: center;
  transition: all .2s;
  display: flex;
}

.spinner {
  text-align: center;
  margin: 5rem auto;
}

.spinner svg {
  fill: #f38e82;
  width: 6rem;
  height: 6rem;
  animation: 2s linear infinite rotate;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.pagination {
  display: flex;
}

.btn--inline {
  color: #f38e82;
  cursor: pointer;
  background-color: #f9f5f3;
  border: none;
  border-radius: 10rem;
  align-items: center;
  padding: .8rem 1.2rem;
  font-size: 1.3rem;
  font-weight: 600;
  transition: all .2s;
  display: flex;
}

.btn--inline svg {
  fill: currentColor;
  width: 1.6rem;
  height: 1.6rem;
  margin: 0 .2rem;
}

.btn--inline span {
  margin: 0 .4rem;
}

.btn--inline:hover {
  color: #f48982;
  background-color: #f2efee;
}

.btn--inline:focus {
  outline: none;
}

.pagination__btn--next {
  margin-left: auto;
}

.search-results {
  flex-direction: column;
  padding: 3rem 0;
  display: flex;
}

.search-results .results {
  margin-bottom: 2rem;
  list-style: none;
}

.search-results .pagination {
  margin-top: auto;
  padding: 0 3.5rem;
}

.search-results .copyright {
  margin-top: 4rem;
  padding: 0 3.5rem;
  font-size: 1.2rem;
}

.search-results .copyright p, .search-results .copyright .twitter-link {
  color: #918581;
}

.recipe {
  background-color: #f9f5f3;
}

.recipe .message {
  max-width: 40rem;
  margin: 0 auto;
  padding: 5rem 4rem;
  display: flex;
}

.recipe .message svg {
  fill: #f38e82;
  width: 3rem;
  height: 3rem;
  transform: translateY(-.3rem);
}

.recipe .message p {
  margin-left: 1.5rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.5;
}

.recipe__fig {
  height: 32rem;
  position: relative;
}

.recipe__fig:before {
  content: "";
  opacity: .6;
  background-image: linear-gradient(to bottom right, #fbdb89, #f48982);
  position: absolute;
  top: 0;
  left: 0;
}

.recipe__fig:before, .recipe__img {
  width: 100%;
  height: 100%;
  display: block;
}

.recipe__img {
  object-fit: cover;
}

.recipe__title {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  width: 50%;
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 1.95;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 20%)skewY(-6deg);
}

.recipe__title span {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  background-image: linear-gradient(to bottom right, #fbdb89, #f48982);
  padding: 1.3rem 2rem;
}

.recipe__details, .recipe__info {
  align-items: center;
  display: flex;
}

.recipe__details {
  padding: 7.5rem 8rem 3.5rem;
}

.recipe__info:not(:last-child) {
  margin-right: 4.5rem;
}

.recipe__info {
  text-transform: uppercase;
  font-size: 1.65rem;
}

.recipe__info-buttons {
  margin-left: 1.6rem;
  display: flex;
  transform: translateY(-1px);
}

.recipe__info .btn--tiny {
  cursor: pointer;
  background: none;
  border: none;
  width: 2rem;
  height: 2rem;
}

.recipe__info .btn--tiny svg {
  fill: #f38e82;
  width: 100%;
  height: 100%;
  transition: all .3s;
}

.recipe__info .btn--tiny:not(:last-child) {
  margin-right: .3rem;
}

.recipe__info-icon {
  fill: #f38e82;
  width: 2.35rem;
  height: 2.35rem;
  margin-right: 1.15rem;
}

.recipe__info-data {
  margin-right: .5rem;
  font-weight: 700;
}

.recipe__user-generated {
  background-color: #eeeae8;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  margin-left: auto;
  margin-right: 1.75rem;
  display: flex;
}

.recipe__user-generated svg {
  fill: #f38e82;
  width: 2.25rem;
  height: 2.25rem;
}

.recipe .btn--bookmark {
  cursor: pointer;
  background-image: linear-gradient(to bottom right, #fbdb89, #f48982);
  border: none;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 4.5rem;
  height: 4.5rem;
  display: flex;
}

.recipe .btn--bookmark svg {
  fill: #fff;
  width: 2.5rem;
  height: 2.5rem;
}

.recipe__ingredients {
  background-color: #f2efee;
  flex-direction: column;
  align-items: center;
  padding: 5rem 8rem;
  font-size: 1.6rem;
  line-height: 1.4;
  display: flex;
}

.recipe__ingredient-list {
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem 3rem;
  list-style-type: none;
  display: grid;
}

.recipe__ingredient {
  display: flex;
}

.recipe__icon {
  fill: #f38e82;
  flex: none;
  width: 2rem;
  height: 2rem;
  margin-top: .1rem;
  margin-right: 1.1rem;
}

.recipe__quantity {
  flex: none;
  margin-right: .5rem;
}

.recipe .heading--2 {
  color: #f38e82;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2.5rem;
  font-size: 2rem;
  font-weight: 700;
}

.recipe__directions {
  flex-direction: column;
  align-items: center;
  padding: 5rem 10rem;
  display: flex;
}

.recipe__directions-text {
  text-align: center;
  color: #918581;
  margin-bottom: 3.5rem;
  font-size: 1.7rem;
}

.recipe__directions-text .recipe__publisher {
  font-weight: 700;
}

.recipe__directions .btn--small, .recipe__directions .btn--small:link, .recipe__directions .btn--small:visited {
  padding: 1.25rem 2.25rem;
  font-size: 1.4rem;
  font-weight: 600;
  text-decoration: none;
}

.recipe__directions .btn--small span, .recipe__directions .btn--small:link span, .recipe__directions .btn--small:visited span {
  margin-right: 1rem;
}

.recipe__directions .search__icon {
  fill: currentColor;
  width: 1.75rem;
  height: 1.75rem;
}

.recipe .error {
  width: 35%;
}

.preview__link:link, .preview__link:visited {
  border-right: 1px solid #fff;
  align-items: center;
  padding: 1.5rem 3.25rem;
  text-decoration: none;
  display: flex;
}

.preview__link--active {
  background-color: #f9f5f3;
}

.preview__fig {
  border-radius: 50%;
  flex: 0 0 5.8rem;
  height: 5.8rem;
  margin-right: 2rem;
  position: relative;
  overflow: hidden;
}

.preview__fig img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: all .3s;
  display: block;
}

.preview__fig:before {
  content: "";
  opacity: .4;
  background-image: linear-gradient(to bottom right, #fbdb89, #f48982);
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.preview__data {
  grid-template-columns: 1fr 2rem;
  align-items: center;
  row-gap: .1rem;
  width: 100%;
  display: grid;
}

.preview__publisher, .preview__title {
  text-transform: uppercase;
  font-weight: 600;
}

.preview__publisher {
  color: #918581;
  font-size: 1.15rem;
}

.preview__title {
  color: #f38e82;
  text-overflow: ellipsis;
  white-space: nowrap;
  grid-column: 1 / -1;
  max-width: 25rem;
  font-size: 1.45rem;
  overflow: hidden;
}

.preview__user-generated {
  background-color: #eeeae8;
  border-radius: 10rem;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  margin-left: auto;
  margin-right: 1.75rem;
  display: flex;
}

.preview__user-generated svg {
  fill: #f38e82;
  width: 1.2rem;
  height: 1.2rem;
}

.overlay {
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  background-color: #0006;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.add-recipe-window {
  background-color: #fff;
  border-radius: 9px;
  width: 100rem;
  padding: 5rem 6rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.add-recipe-window .upload {
  grid-template-columns: 1fr 1fr;
  gap: 4rem 6rem;
  display: grid;
}

.add-recipe-window .upload__column {
  grid-template-columns: 1fr 2.8fr;
  align-items: center;
  gap: 1.5rem;
  display: grid;
}

.add-recipe-window .upload__column label {
  color: inherit;
  font-size: 1.5rem;
  font-weight: 600;
}

.add-recipe-window .upload__column input {
  border: 1px solid #ddd;
  border-radius: .5rem;
  padding: .8rem 1rem;
  font-size: 1.5rem;
  transition: all .2s;
}

.add-recipe-window .upload__column input::placeholder {
  opacity: .5;
}

.add-recipe-window .upload__heading {
  text-transform: uppercase;
  grid-column: 1 / -1;
  margin-bottom: 1rem;
  font-size: 2.25rem;
  font-weight: 700;
}

.add-recipe-window .upload__btn {
  grid-column: 1 / -1;
  justify-self: center;
}

.add-recipe-window .btn--close-modal {
  color: inherit;
  cursor: pointer;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 3.5rem;
  position: absolute;
  top: .5rem;
  right: 1.6rem;
}

/*# sourceMappingURL=index.f7626f62.css.map */
